body{

margin:0;

background: linear-gradient(

to right,

#1e3c72,

#2a5298

);

font-family: Arial;

}



.chat-container{

width:700px;

height:600px;

background:#0b132b;

margin:40px auto;

border-radius:15px;

display:flex;

flex-direction:column;

color:white;

}



.header{

display:flex;

align-items:center;

padding:15px;

}



.logo{

width:50px;

margin-right:10px;

}



.title{

font-size:22px;

font-weight:bold;

}



.subtitle{

font-size:12px;

color:#ccc;

}



.chatbox{

flex:1;

padding:20px;

overflow-y:auto;

}



.bot-message{

background:#1c7ed6;

padding:12px;

border-radius:10px;

margin-bottom:10px;

max-width:70%;

}



.user-message{

background:#37b24d;

padding:12px;

border-radius:10px;

margin-bottom:10px;

margin-left:auto;

max-width:70%;

}



.input-area{

display:flex;

}



.input-area input{

flex:1;

padding:15px;

border:none;

outline:none;

background:#1c2541;

color:white;

}



.input-area button{

width:100px;

background:#339af0;

border:none;

color:white;

}



.footer{

text-align:center;

font-size:12px;

padding:10px;

color:#aaa;

}
